{% extends "base/base.html" %}
{% load static %}
{% block title %}GMCH Hospital Purnea{% endblock title %}
{% block header %}
<meta name="description" content="GMCH Hospital Purnea, Bihar">
<link rel="stylesheet" href="{% static "css/index.css" %}"/>
{% endblock header %}
{% block body %}
<section class="hero-section">
    <div id="carousel-indicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="0" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="{% static "temp/DSC_0047.jpg" %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src="{% static "temp/DSC_0050.jpg" %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static "temp/DSC_0028.jpg" %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-indicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-indicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

<section class="tender-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2 class="card-title"><i class="ri-calendar-event-line"></i> Latest News & Event</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center my-5">
                        
                            <img src="{% static "temp/no-data.svg" %}" alt="" class="no-data-img">
                            <p class="no-data-text">No Event Available</p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2 class="card-title"><i class="ri-notification-2-line"></i> Important Notice</h2>
                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="https://watchdroid.blr1.cdn.digitaloceanspaces.com/gmch/notice.pdf" class="list-group-item list-hover" target="_blank" title="General Information">
                                <i class="ri-calendar-2-line"></i> 08 April, 24 - General Information
                            </a>
                        </div>
                        {% comment %} <div class="text-center my-5">
                        
                            <img src="{% static "temp/no-data.svg" %}" alt="" class="no-data-img">
                            <p class="no-data-text">No Notice Available</p>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2 class="card-title"><i class="ri-hospital-line"></i> Tender Notice</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center my-5">
                        
                            <img src="{% static "temp/no-data.svg" %}" alt="" class="no-data-img">
                            <p class="no-data-text">No Tender Available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mentors-section py-5">
    <div class="container">
       
        <div class="row align-items-center">
            <div class="col-md-4 text-center mb-4">
                <img src="https://gmchpurnea.com/static/img/supretendent-4.JPG" alt=""  class="img-fluid superintendent-img">
                <h3 class="mentor-text-sm">- Dr. Sanjay Kumar, Superintendent, GMCH Purnea</h3>
            </div>
            <div class="col-md-8 mb-4">
                <h2 class="section-title">
                   Message from Superintendent 
                </h2>
                <p class="mentor-text">

                    It is a great honour for me to be the Superintendent at GMCH, Purnea. We have made it our continual goal to train competent, compassionate, and caring physicians via excellence in education, patient care, and medical research, in keeping with our objective. It gives me great honour to welcome you to the GMHC, Purnea. From here, you will begin your journey toward your sole most essential goal of becoming excellent doctors and professionals who will serve humanity.
                </p>
                <h3 class="mentor-name">Dr. Sanjay Kumar</h3>
                <h3 class="mentor-name">Thank You!!</h3>
            </div>
        </div>
    </div>
</section>

<section class="service-section py-5 my-4">
    <div class="container">
        <h2 class="section-title">Service Offers by Hospital</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="card service-card">
                    <div class="d-flex">
                        <div class="service-icon"><img src="{% static "temp/opd.png" %}" alt="" ></div>
                        <div class="ms-3">
                            <h3 class="service-title mb-1">OPD</h3>
                            <p class="service-text mb-0">OPD: Offers routine medical check-ups, consultations, and basic treatments for patients who do not require hospitalization.</p>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3">
                <div class="card service-card">
                    <div class="d-flex">
                        <div class="service-icon"><img src="{% static "temp/ipd.png" %}" alt="" ></div>
                        <div class="ms-3">
                            <h3 class="service-title mb-1">IPD</h3>
                            <p class="service-text mb-0">
                                IPD: Provides comprehensive medical care, treatment, and accommodation for patients requiring hospital admission for more than 24 hours.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card service-card">
                    <div class="d-flex">
                        <div class="service-icon"><img src="{% static "temp/icu.png" %}" alt="" ></div>
                        <div class="ms-3">
                            <h3 class="service-title mb-1">ICU</h3>
                            <p class="service-text mb-0">
                                ICU: Delivers critical medical care, continuous vital sign monitoring, and essential life support for patients with severe, life-threatening conditions.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card service-card">
                    <div class="d-flex">
                        <div class="service-icon"><img src="{% static "temp/ambulance.png" %}" alt="" ></div>
                        <div class="ms-3">
                            <h3 class="service-title mb-1">Emergency</h3>
                            <p class="service-text mb-0">
                                Emergency: Offers 24/7 immediate medical attention, first aid, and urgent treatment for accidents, injuries, and sudden, serious illnesses.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card service-card">
                    <div class="d-flex">
                        <div class="service-icon"><img src="{% static "temp/blood-bag.png" %}" alt="" ></div>
                        <div class="ms-3">
                            <h3 class="service-title mb-1">Blood Bank</h3>
                            <p class="service-text mb-0">Blood Bank: Ensures the constant availability of safe and screened blood and various blood products for necessary transfusions during medical procedures.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card service-card">
                    <div class="d-flex">
                        <div class="service-icon"><img src="{% static "temp/pharmacy.png" %}" alt="" ></div>
                        <div class="ms-3">
                            <h3 class="service-title mb-1">Pharmacy</h3>
                            <p class="service-text mb-0">Pharmacy: Dispenses prescribed medications to patients, providing crucial guidance on proper dosage, usage, and potential drug interactions.


                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card service-card">
                    <div class="d-flex">
                        <div class="service-icon"><img src="{% static "temp/microscope.png" %}" alt="" ></div>
                        <div class="ms-3">
                            <h3 class="service-title mb-1">Laboratories</h3>
                            <p class="service-text mb-0">Laboratories: Conducts a wide range of essential diagnostic tests on patient samples like blood and urine to aid in accurate disease diagnosis and treatment monitoring.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card service-card">
                    <div class="d-flex">
                        <div class="service-icon"><img src="{% static "temp/ayushman-bh.png" %}" alt="" ></div>
                        <div class="ms-3">
                            <h3 class="service-title mb-1">Ayushman Bharat</h3>
                            <p class="service-text mb-0">Ayushman Bharat
                                It provides cashless access to health insurance services for the beneficiary at the point of service, that is, the hospital.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="gallery-section py-5 mt-4">
    <div class="container pb-4">
        <div class="d-flex">
            <h2 class="section-title">Hospital Gallery</h2>
            <div class="ms-auto"> <a href="/" class="btn gallery-btn">View All <i class="ri-arrow-right-line"></i></a></div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="mb-4 card text-center">
                    <img src="{% static "temp/DSC_0023.jpg" %}" alt="" class="gllery-img ">
                    <h3 class="gallery-title">
                        Our Doctors
                    </h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-4 card text-center">
                    <img src="{% static "temp/DSC_0050.jpg" %}" alt="" class="gllery-img ">
                    <h3 class="gallery-title">
                        Our Hospital
                    </h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-4 card text-center">
                    <img src="{% static "temp/DSC_0031.jpg" %}" alt="" class="gllery-img ">
                    <h3 class="gallery-title">
                        Hospital Labs
                    </h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-4 card text-center">
                    <img src="{% static "temp/DSC_0077.jpg" %}" alt="" class="gllery-img ">
                    <h3 class="gallery-title">
                        Hospital Building
                    </h3>
                </div>
            </div>
           
        </div>
    </div>
</div>
 {% comment %} <div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="" alt="" class="about-img">
                </div>
            </div>
        </div>
    </div> {% endcomment %}
{% endblock body %}