{% extends "base/base.html" %}
{% load static %}
{% block title %}Tender - GMCH Hospital Purnea{% endblock title %}
{% block header %}
<meta name="description" content="GMCH Hospital Purnea, Bihar">
<link rel="stylesheet" href="{% static "css/notice.css" %}"/>
{% endblock header %}
{% block body %}
<div class="notice-section pt-4 pb-5">
    <div class="container pb-4">
        <h1 class="section-title">Hospital Tender</h1>
        <div class="notice-table">
            <table >
                <thead>
                    <th class="sno">SNo.</th>
                    <th class="category-col">Tender Category</th>
                    <th>Tender Title</th>
                    <th>Date of Publishing</th>
                    <th>Date of Closing</th>
                </thead>
                {% for tender in tenders %}
                <tr>
                    <td class="sno">{{forloop.counter|stringformat:"02d"}}</td>
                    <td class="category-col">{{tender.category}}</td>
                    <td><a href="{{tender.document.url}}" target="_blank">{{tender.title}}</a></td>
                    <td>{{tender.publishing_date}}</td>
                    <td>{{tender.closing_date}}</td>
                </tr>
                {% endfor %}

            </table>
            {% if not tenders  %}
            <div class="text-center my-5">
                <img src="{% static "temp/no-data.svg" %}" alt="" class="no-data-img">
                <p class="no-data-text">No Tender Available</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}