{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://gmchpurnea.com/static/img/favicon.ico"/>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://img.houseui.com/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.min.css"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    {% block header %}{% endblock header %}
</head>
<body>
    <header>
        <div class="header-top py-2">
            <div class="container">
                <div class="d-flex ">
                    <div class="h-items d-none d-sm-block">
                        <a href="tel:+916254248787" class="pe-3"> 
                            <i class="ri-phone-line"></i> emergency: +91-6254 248-787 
                        </a>
                    </div>
                    <div class="d-none d-sm-block">
                        <a href="tel:+916254248787" class="px-3"> 
                            <i class="ri-truck-line"></i> ambulance: +91-6254 248-787 
                        </a>
                    </div>

                    <div class="ms-sm-auto">
                        <a href="tel:+916254248787" class="px-3"> 
                            <i class="ri-map-pin-add-line"></i> Line Bazar, Purnea, Bihar 854301
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mid">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="h-logo">
                    <a href="/">
                        <img src="https://gmchpurnea.com/static/img/logo-main.png" class="logo  mx-auto">
                    </a>
                </div>
                <div class="h-name text-center">
                    <h1 class="">GOVT. MEDICAL COLLEGE & HOSPITAL, PURNEA (BIHAR)</h1>
                    <h2 class="">राजकीय चिकित्सा महाविद्यालय एवं अस्पताल, पूर्णियाँ (बिहार)</h2>
                </div>
                <div class="bs-logo d-none d-sm-block">
                    <a href="">
                        <img src="https://gmchpurnea.com/static/img/bihar-sarka.png" class="logo  mx-auto">
                    </a>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container">
                <a class="nav-link" href="{% url "home:index" %}">Home</a>
                <a class="nav-link" href="/">Department</a>
                <a class="nav-link" href="{% url "home:about" %}">About Hospital</a>
                <a class="nav-link" href="{% url "home:opd" %}">OPD Schedule</a>
                <a class="nav-link" href="{% url "gallery:gallery" %}">Gallery</a>
                <a class="nav-link" href="{% url "notification:tender" %}">Tender</a>
                <a class="nav-link" href="{% url "notification:notice" %}">Notice</a>
                <a class="nav-link" href="/">Event & News</a>
            </div>
        </nav>
    </header>

    {% block body %}{% endblock body %}

    <footer class="footer">
       <div class="container">
           <div class="row py-4">
               <div class="col-12 col-lg-6">
                   <h4 class="mb-4 footer-title">Govt. Medical College & Hospital, Purnea</h4>
                   <div class="college-map d-flex">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14371.610554993362!2d87.47417599798128!3d25.773779226197558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eff9754574a81b%3A0xe27c3ddfab850573!2sGovernment%20Medical%20College%20And%20Hospital%20Purnea!5e0!3m2!1sen!2sin!4v1635270825885!5m2!1sen!2sin" style="border:0; width: 100%; height:300px" allowfullscreen="" loading="lazy"></iframe>
                   </div>
               </div>
   
               <div class="col-lg-1"></div>
       
               <div class="col-6 col-lg-2 ">
                   <h4 class="mb-4 footer-title">Quick Links</h4>
                   <ul class="list-unstyled">
                       <li><a class="footer-link" href="/"><i class="ri-arrow-right-line"></i> Home</a></li>
                       <li><a class="footer-link" href="/gallery/" ><i class="ri-arrow-right-line"></i> Gallery</a></li>
                       <li><a class="footer-link" href="/about/" ><i class="ri-arrow-right-line"></i> About us</a></li>
                       <li><a class="footer-link" href="/department/"><i class="ri-arrow-right-line"></i> Departments</a></li>
                       <li><a class="footer-link" href="/notification/tenders/"><i class="ri-arrow-right-line"></i> Tender Notice</a></li>
                       <li><a class="footer-link" href="/"><i class="ri-arrow-right-line"></i> Important Notice</a></li>
                       <li><a class="footer-link" href="/"><i class="ri-arrow-right-line"></i> News & Events</a></li>
                   </ul>
               </div>
           </div>
       </div>
        
        <div class=" py-2 footer-end">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-md-auto">
                        © 2025 gmchpurnea.org All rights reserved 
                    </div>
                    <div class="ms-auto col-12 col-md-auto last-item">
                        <div class="d-flex ms-auto">
                            <div class="h-items d-none d-md-block">
                                <a href="tel:+916254248787" class="pe-3"> 
                                    <i class="ri-phone-line"></i> emergency: +91-6254 248-787 
                                </a>
                            </div>
                            <div class="">
                                <a href="tel:+916254248787" class="ps-3"> 
                                    <i class="ri-map-pin-add-line"></i> Line Bazar, Purnea, Bihar 854301
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block script %}{% endblock script %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>