<style>
.gallery-section {
    min-height: 80vh;
}
.gallery-section .section-title{
    font-size: 36px;
    font-weight: 700;
    position: relative;
    color: #1b334b;
    margin-bottom: 35px;
    text-transform: uppercase;
    display: inline-block;
}

.gallery-section .section-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -60px;
    height: 4px;
    width: 50px;
    background-color: #346493;
    transform: translateY(-50%);
}

.gallery-section .card{
    padding: 15px;
    box-shadow: 0 5px 10px -10.8px;
    border-radius: 18px;
    border: 1px solid #8eb3d7;
}

.gallery-section .card img{
    border-radius: 10px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    transition: .3s all ease-in-out;
}

.gallery-section .card .img-wrapper{
    overflow: hidden;
    border-radius: 10px;
}

.gallery-section .card:hover img{
    transform: scale(1.05);
}

.gallery-section .card .gallery-title{
    font-size: 26px;
    font-weight: 700;
    color: #1b334b;
    margin-top: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.gallery-section .gallery-btn{
    background-color: #21405e;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 6px 12px 6px 18px;
    border-radius: 25px;
    text-transform: uppercase;
}

</style>