.about-section{
    min-height: 80vh;
}
.about-section .section-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 38px;
    color: #1b334b;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
}

.about-section .section-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right:  -60px;
    height: 5px;
    width: 50px;
    background-color: #1b334b;
    transform: translateY(-50%);
}

.about-section .about-img{
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
    height: 500px;
}

.about-section .sub-text{
    font-size: 18px;
    font-weight: 600;
    color: #1b334b;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.about-section .main-text{
    font-size: 20px;
    margin-bottom: 10px;
}